
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row" style="min-height:700px;">
        <div class="col-sm-6 text-center" style="padding-top:180px;padding-bottom:100px;">
            <p style="font-weight:600;font-size:50px;color:whitesmoke;">Change Password</p>
            <hr />
            <h3> (E-study vidya)</h3>
        </div>
        <div class="col-sm-6" style="padding-top:100px;padding-bottom:100px;">
            <div class="row">

                <div class="col-sm-2"></div>
                <div class="col-sm-8" style="border:inset ;padding:20px 50px 50px 50px;border-radius:7px;background-color:whitesmoke;margin:0px 15px;">
                    <div class="row text-center" style="padding:20px;">

                        <div class="col-sm-12 text-center"><img src="~/Content/Images/userMale.png" height="100px" width="100px" style="position:center;" /></div>


                    </div>

                    @using (Html.BeginForm("ChangePassword", "AdminZone", FormMethod.Post))
                    {

                        @Html.TextBox("Current", null, new {type="password", required = "required", placeholder = "Current Password", style = "width:100%;font-size:18px;border-radius:5px;border:outset;" })
                        <br /><br />
                        @Html.TextBox("Npass", null, new { type = "password", required = "required", placeholder = "New Password", style = "width:100%;font-size:18px;border-radius:5px;border:outset;" })
                        <br /><br />
                        @Html.TextBox("CPass", null, new { type = "password", required = "required", placeholder = "Confirm Password", style = "width:100%;font-size:18px;border-radius:5px;border:outset;" })
                        <br /><br />
                        <input type="submit" ,value="Change Password" class="btn-success btn-block" style="min-height:35px;min-width:100px;border-radius:6px;font-size:18px;">
                        <br />
                        <input type="reset" ,value="Reset Password" class="btn-danger btn-block" style="min-height:35px;min-width:100px;border-radius:6px;font-size:18px;">
                        <br /><br />

                        <span style="color:red; font-size:18px;font-weight:600;text-align:center;">@ViewBag.Result</span>

                    }
                </div>
                <div class="col-sm-2"></div>
            </div>


        </div>
    </div>
</div>