
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/General_layout.cshtml";
}

<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="padding-left:30px;">
            <span style="font-size:70px;color:#3990e7;font-weight:800;">Hello .</span>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row" style="min-height:600px;background-color:cadetblue;padding:60px 0px">
        <div class="col-sm-1"></div>
        <div class="col-sm-5" style="background-color:darkseagreen;color:white;font-size:20px;padding:15px">
            <img src="~/Content/Images/contact_us.jpg" width="100%" height="130px" />  
            <h4 class="text-center bg-danger text-white" style="margin-top:15px;padding:4px;">Contact Details</h4>
            <hr />
              E-study Vidya,  
            <br />
            <b>Address: </b>
              Government Polytechnic Jaunpur, Near Singh Cold Storage, Jagdishpur(UP)
            <b>Pincode:</b> 220028 <br />
            <b>Email Id: </b> Alokjaiswalcs@gmail.com<br />
            <b>Mobile No: </b> +91-9369474565, +91-8604625567<br />
        </div>
        <div class="col-sm-5" style="background-color:burlywood;color:white;font-size:20px;padding:15px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.698669901051!2d82.69792031497245!3d25.714399083658247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39903bb8f327527b%3A0x3a2853d99a687975!2sGovernment%20Polytechnic!5e0!3m2!1sen!2sin!4v1595041677515!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-sm-1"></div>
    </div>


</div>

