
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personal</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <div class="container-fluid" style="background-image:url('/Content/Images/background11.jpg')">
       <div class="row text-center" >
           <div class="col-sm-12 text-center" style="margin-top: 0px; background-color:#d013f1;padding:0px;margin:0px ">
               <span style="font-size:25px; font-weight:900;color:white;padding:10px;" class="glyphicon glyphicon-user" > About Developer</span>
           </div>
       </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="padding:40px;margin:71px 0px;border:outset;border-radius:8px;background-color:rgba(255, 255, 255, 0.93);">
                <div class="row">
                    <div class="col-sm-6 text-center" style="padding:0px;margin:0px;width:450px;" >
                        
                            <img src="~/Content/Images/My Photo.jpg" height="500px" width="300px" style="border:2px solid black;border-radius:6px;"></img>
                        
                    </div>
                    <div class="col-sm-6 text-center" style="font-weight:600;padding:50px;">
                        <p style="font-size:15px">Hello Everybody, I am</p>
                        <p style="font-size:24px"> Alok Jaiswal </p>
                        <p style="font-size:19px">Junior Asp.Net Web Application Developer</p><br />
                        <p style="font-size:15px">My Qualification is</p>
                        <p style="font-size:18px">Diploma in Computer Science & Engineering</p>
                        <p style="font-size:18px">From Government Polytechnic Jaunpur</p>
                        <p  style="font-size:18px"><span class="glyphicon glyphicon-envelope"></span> : alokjaiswalcs@gmail.com </p>
                        <p style="font-size:18px;"> <span class="glyphicon glyphicon-home"></span> : Rampur, jaunpur (UP),222203 </p>
                        <p class=""></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
</body>
</html>
