
@{
    ViewBag.Title = "VisionMission";
    Layout = "~/Views/Shared/General_layout.cshtml";
}
<div class="container-fluid" style="min-height:300px;background-image:url('/Content/Images/back1.jpg')">
    <div class="row text-justify" style="min-height:150px;background-color:rgba(247, 241, 241, 0.83);padding-top:60px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p style="font-size:20px;text-align:center;font-weight:800;padding-top:10px;">Our Mission</p>
            <p style="font-family:Arial;text-align:justify;font-size:18px;padding:15px 0px 0px 0px;font-weight:600;">
                Behind starting of E-study we have a mission - "To Digitize India from its rural area".
                We want to create software in very low cost for our clients. Our founder director has
                lot of experience in Training & Placement so we are going to provide genuine training
                and placement for rural and urban area students.So that poor students can also afford
                good training and job.
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row text-justify" style="min-height:150px;background-color:rgba(247, 241, 241, 0.83);padding-bottom:60px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p style="font-size:20px;text-align:center;font-weight:800;padding-top:10px;">Our Vision</p>
            <p style="font-family:Arial;text-align:justify;font-size:18px;padding:15px 0px 10px 0px;font-weight:600;">
                From E-study Vidya side we promise that - We will run our company with honesty and hard work.<br />
                We will never cheat any client or student that will be associated with us. We take oath<br />
                that with-in next 3 years we will be one of the most reliable IT Company in software<br />
                and training division. Customer satisfaction is most important thing for us. We will<br />
                provide best quality and customer support.
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>

</div>
