
@{
    ViewBag.Title = "Shared";
    Layout = "~/Views/Shared/StudentZoneLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center h1" style="background-color:#88f41a;padding:20px;margin-top:250px;border-radius:8px;">
            This Page Under Construction
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

