
@{
    ViewBag.Title = "StudyMat";
    Layout = "~/Views/Shared/StudentZoneLayout.cshtml";
}


@using EstudyCorner.Models
@model IEnumerable<StudyMaterial>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center h1" style="background-color:#88f41a;padding:20px;margin-top:15px;border-radius:8px;">
            Study Material
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="padding:15px;">
        <div class="col-sm-12" style="color:white;font-size:18px;">
            <table border="1" style="width:100%;background-color:rgba(237, 196, 23, 0.78);border-radius:8px;" class="table table-hover table-responsive-sm table-bordered text-center">
                <tr style="background-color: black;color:white;font-weight:800;">
                    <th>Study Material Id</th>
                    <th>Title</th>
                    <th>File type</th>
                    <th>Upload Date</th>
                    <th>Download</th>

                </tr>
                @foreach (StudyMaterial sm in Model)
                {
                    <tr style="color:black;font-weight:500;">
                        <td>@sm.StdMatID</td>
                        <td>@sm.title</td>
                        <td>@sm.FileType</td>
                        <td>@sm.AddedON</td>

                        <td><a href="~/Content/StudyMaterials/@sm.FileName" > Show </a></td>

                    </tr>
                }
            </table>


        </div>
    </div>
</div>


